@use "../../../styles/mixins.scss" as *;
.authContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-prompt);
  height: 100vh;
  @include breakpoint(lg) {
    flex-direction: row;
  }
}

.authBg {
  background-color: #f7f7f7;
  flex: 1;
  height: 100%;
  padding: 1rem;
  display: none;
  flex-direction: column;
  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .logo {
    object-fit: contain;
    width: 150px;
    height: 50px;
  }
  @include breakpoint(lg) {
    display: flex;
    padding: 5rem;
    flex: 50%;
  }
}

.authBgImage {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.authContent {
  flex: 1;
  width: 100%;
  background-color: #fff;
  height: 100%;
  padding: 1rem;
  margin: auto;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include breakpoint(lg) {
    padding: 2rem;
    flex: 50%;
  }
}

.authLogo {
  margin-bottom: 2rem;
  @include breakpoint(lg) {
    margin-bottom: 0;
    display: none;
  }
}

.authFormContent {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  flex-direction: column;
  & h1 {
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--header-color);
  }
  & p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
  }
  @include breakpoint(2xl) {
    width: 600px;
  }
  @include breakpoint(sm) {
    width: 500px;
  }
}

.authForm {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.authFormHeader {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.forgotPassword {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary);
}

.signInButton {
  background-color: var(--primary);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  border: none;
  margin-top: 2rem;
  &:hover {
    background-color: var(--primary-hover);
  }
}
