// main.scss
@use "./reset" as *;
@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;
:root {
  --primary: #39cdcc;
  --primary-hover: #25b3b2;
  --tonedprimary: #39cdcc;
  --light: #545f7d26;
  --text-color: #545f7d;
  --header-color: #213f7d;
}
