:root {
  --primary: #39cdcc;
  --primary-hover: #25b3b2;
  --light: #545f7d26;
  --text-color: #545f7d;
  --header-color: #213f7d;
}

$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1536px,
);
