@use "../../styles/mixins.scss" as *;
//
//
.navbar {
  display: flex;
  align-items: center;
  position: relative;
  gap: 2rem;
  max-height: 100px;
  width: 100%;
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  @include breakpoint(lg) {
    gap: 7rem;
    padding: 0.5rem 1rem;
  }
}

.logoContainer {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
}

.sidebarMenu {
  cursor: pointer;
  @include breakpoint(lg) {
    display: none;
  }
}

.logo {
  display: none;
  @include breakpoint(lg) {
    display: block;
  }
}

.logoMobile {
  display: flex;
  width: 28px;
  height: 28px;
  @include breakpoint(lg) {
    display: none;
  }
}

.navLinksContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.notificationContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-family: var(--font-work-sans);
  justify-content: center;
  align-items: center;
  @include breakpoint(lg) {
    gap: 3rem;
  }
}

.profileContainer {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.avatarContainer {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
  .avatarImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.profileInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  & span,
  img {
    display: none;
    @include breakpoint(lg) {
      display: inline;
    }
  }
}

.docslink,
.docsContainer {
  display: none;
  @include breakpoint(lg) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

.searchMobileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  @include breakpoint(lg) {
    display: none;
  }
}
